@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  background-color: #bfdf9b;
  color: white;
  font-family: "Shadows Into Light", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.container {
  margin: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 26rem);
  gap: 2rem;
}

.container li {
  list-style: none;
  background-color: #73470e;
  height: 25rem;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem 2rem;
}

.add-box {
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.add-box,
.icon,
.bottom-content {
  display: flex;
  align-items: center;
}

.bottom-content {
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
}

.icon {
  height: 8rem;
  width: 8rem;
  font-size: 4rem;
  border-radius: 50%;
  border: 2px dashed white;
  justify-content: center;
}

.add-box p {
  padding-top: 2rem;
  font-size: 2rem;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note p {
  font-size: 2rem;
}

.note span {
  font-weight: 400;
}

i {
  cursor: pointer;
}

.settings {
  position: relative;
}

.menu {
  position: absolute;
  width: 11rem;
  height: 3rem;
  bottom: 5.5rem;
  right: -.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transition: transform .4s ease;
  transform-origin: bottom right;
}

.settings:hover .menu {
  transform: scale(1);
}

.menu li {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  height: 100%;
  gap: .5rem;
  border-radius: 0;
  padding: .2rem 1rem;
}

.menu li:hover {
  background-color: #72552e;
}

.menu li i {
  padding-right: .5rem;
}


.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  max-width: 40rem;
  width: 100%;
  transform: translate(-50%, -50%);
}

.popup-box, .popup-box .popup {
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

.popup-box.show, .popup-box.show .popup {
  opacity: 1;
  pointer-events: auto;
}

.content {
  background-color: #bfdf9b;
  border-radius: .5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  border-bottom: 1px solid #ccc;
}

header p {
  font-size: 2rem;
}

form {
  padding: 1.5rem 2.5rem 2rem;
}

form :where(input, textarea) {
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
}

textarea {
  height: 15vh;
}

.row {
  margin-bottom: 1.5rem;
}

form button {
  width: 100%;
  padding: 1rem 0;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}
